<div class="outer">
    <div class="title-outer">
        <div class="title">СТАТИСТИКА</div>
        <div class="button-section">
            <input type="button" value="Зібрати" ng-click="collectStatistics()" style="margin-bottom: 0.2rem"/>
            <input type="button" value="Зберегти в Excel" ng-click="storeToExcel()" style="margin-bottom: 0.2rem" />
            <input type="button" value="Зібрати + Зберегти в Excel" ng-click="collectAndStore()" />
        </div>
    </div>
    <div class="statistics">
        <table>
            <tr class="header">
                <td><span title="Дата перевірки">Дата</span> <span class="sort" ng-click="sortBy('dateOfChecking')">{{getSortIcon('dateOfChecking')}}</span></td>
                <td><span title="Код товару">ID</span> <span class="sort" ng-click="sortBy('olxId')">{{getSortIcon('olxId')}}</span></td>
                <td><span class="icon-active" title="Чи активний"></span> <span class="sort" ng-click="sortBy('isActive')">{{getSortIcon('isActive')}}</span></td>
                <td>Місто <span class="sort" ng-click="sortBy('cityId')">{{getSortIcon('cityId')}}</span></td>
                <td><span class="icon-eye" title="Перегляди"></span> <span class="sort" ng-click="sortBy('views')">{{getSortIcon('views')}}</span></td>
                <td>– <span class="icon-eye" title="Перегляди (різниця)"></span> <span class="sort" ng-click="sortBy('viewsDifference')">{{getSortIcon('viewsDifference')}}</span></td>
                <td><span class="icon-phone" title="Телефони"></span> <span class="sort" ng-click="sortBy('phones')">{{getSortIcon('phones')}}</span></td>
                <td>– <span class="icon-phone" title="Телефони (різниця)"></span> <span class="sort" ng-click="sortBy('phonesDifference')">{{getSortIcon('phonesDifference')}}</span></td>
                <td><span class="icon-message" title="Повідомлення"></span> <span class="sort" ng-click="sortBy('messages')">{{getSortIcon('messages')}}</span></td>
                <td>– <span class="icon-message" title="Повідомлення (різниця)"></span> <span class="sort" ng-click="sortBy('messagesDifference')">{{getSortIcon('messagesDifference')}}</span></td>
                <td><span class="icon-love" title="Обрані"></span> <span class="sort" ng-click="sortBy('chosens')">{{getSortIcon('chosens')}}</span></td>
                <td>– <span class="icon-love" title="Обрані (різниця)"></span> <span class="sort" ng-click="sortBy('chosensDifference')">{{getSortIcon('chosensDifference')}}</span></td>
            </tr>
            <tr ng-repeat="stat in data.statistics" ng-class="{'tr-border-bottom': ($index+1)%10===0}">
                <td>{{formatDate(stat.dateOfChecking)}}</td>
                <td>{{stat.olxId}}</td>
                <td>{{stat.isActive ? "Так" : "Ні"}}</td>
                <td>{{stat.cityId || "-----"}}</td>
                <td>{{stat.views}}</td>
                <td>{{stat.viewsDifference}}</td>
                <td>{{stat.phones}}</td>
                <td>{{stat.phonesDifference}}</td>
                <td>{{stat.messages}}</td>
                <td>{{stat.messagesDifference}}</td>
                <td>{{stat.chosens}}</td>
                <td>{{stat.chosensDifference}}</td>
            </tr>
        </table>
        <div class="header">

        </div>
    </div>
</div>